<div class="p-5">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <hr>
    {{#with history}}
    <div class="pb-3 px-3">
        <b>Year</b> <em>{{year}}</em>
        <br> <b>Founder</b> <em>{{founder}}</em>
    </div>
    {{/with}}
    <hr>
    <b>Types</b>
    <br>
    {{#each types}}
    <span class="badge text-bg-primary">{{this}}</span>
    {{/each}}
    <hr>
    <h5>Syntax</h5>
    {{#with syntax}}
    <h5>Variables <span class="badge bg-secondary">{{variables}}</span></h5>
    <h5>Functions <span class="badge bg-secondary">{{functions}}</span></h5>
    <h5>Conditionals <span class="badge bg-secondary">{{conditionals}}</span></h5>
    <h5>Loops <span class="badge bg-secondary">{{loops}}</span></h5>
    <h5>Classes <span class="badge bg-secondary">{{classes}}</span></h5>
    {{/with}}
    <hr>
    <h5>Features</h5>
    {{#each features}}
    <li class="px-3 pb-3">
        <button type="button" class="btn btn-primary"> <span class="badge text-bg-secondary">{{this}}</span>
        </button>
    </li>
    {{/each}}
    <hr>
    <h5>Libraries</h5>
    {{#each libraries}}
    <span class="badge text-bg-light">{{this}}</span>
    {{/each}}
    <hr>
    <h5>Tools</h5>
    {{#each tools}}
    <span class="badge bg-secondary">{{this}}</span>
    {{/each}}
    <hr>
    <h5>Community</h5>
    {{#each community}}
    <div class="px-3 pb-3">
        <button type="button" class="btn btn-primary btn-lg">{{name}}</button>
        <button type="button" class="btn btn-secondary btn-lg">{{type}}</button>
    </div>
    {{/each}}

</div>