<main class="p-1">
    <div class="col-12">
        <div class="row-8">
            <div class="col-12">
                <div class="breadcrumb">
                    {{#each breadcrumb}}
                    <div class="breadcrumb-item">
                        <a href="{{url}}">{{name}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="row">
            <div class="col-6">
                {{#with productData}}
                <div class="card">
                    <img class="card-img-top" src="{{img}}">
                    <div class="card-body">
                        {{#with info}}
                        <div>
                            <h6 class="card-title">{{title}}</h6>
                            <p>{{about}}</p>
                            <h2>{{price}}</h2>
                            {{#each category}}
                            <span class="badge text-bg-warning rounded-pill text-uppercase">{{#if
                                isHot}}HOT{{/if}}</span>
                            <span class="badge text-bg-primary rounded-pill text-uppercase">{{#if
                                isNew}}New{{/if}}</span>
                            <span class="badge text-bg-info rounded-pill text-uppercase">{{#if
                                isBonus}}Bonus{{/if}}</span>
                            {{/each}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
            <div class="col-6">
                <table class="table table-bordered">
                    {{#with item}}
                    <thead>
                        <tr>
                            {{#each head}}
                            <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each body}}
                        <tr>
                            {{#with this}}
                            <td>{{this.[0]}}</td>
                            <td>{{this.[1]}}</td>
                            <td>{{this.[2]}}</td>
                            {{/with}}
                        </tr>
                        {{/each}}
                    </tbody>
                    {{/with}}
                </table>
                <div class="table">
                    <table class="table table-bordered">
                        {{#with param}}
                        <theaad class="text-bg-light">
                            <tr>
                                <td>{{title}}</td>
                            </tr>
                        </theaad>
                        <tbody>
                            {{#each list}}
                            <tr>
                                <td>{{this}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                        {{/with}}
                    </table>
                </div>

                <div>
                    {{#with alert}}
                    {{#if isError}}<div class="alert alert-danger">{{text}}</div>{{/if}}
                    {{/with}}
                </div>
            </div>

            <div class="row">
                <div class="col-12 g-4">
                    <div class="card">
                        <div class="card-body">
                            {{#each actionList}}

                            {{#if isWarning}} <button class="btn text-bg-warning">{{name}}</button> {{/if}}
                            {{#if isError}} <button class="btn btn-outline-danger">{{name}}</button> {{/if}}
                            {{#if isSuccess}} <button class="btn text-bg-success">{{name}}</button> {{/if}}
                            {{#if isGood}}<button class="btn btn-outline-success">{{name}}</button> {{/if}}

                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    </div>
    <hr>
    <br>

    {{#with goodsOtherBlock}}
    <h3 class="text-center">{{title}}</h3>
    <div class="row gx-2 gy-2">
        {{#each cards}}
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="{{image}}">
                <div class="card-body">
                    <div>
                        <h6 class="card-title">{{title}}</h6>
                        <span class="badge text-bg-success rounded-pill text-uppercase">{{#if
                            isHot}}Hot{{/if}}</span>
                        <span class="badge text-bg-danger rounded-pill text-uppercase">{{#if
                            isNew}}New{{/if}}</span>
                    </div>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}

    <br>
    <hr>
    <br>
    <section>
        {{> shopaction}}
    </section>
    <br>
    <hr>

</main>