<main class="p-1">
    <section>
        {{> breadcrumb}}
    </section>
    <h1>{{header}}</h1>
    <div class="row">
        {{#each sortBlock}}
        <div class="col-3 mb-3">
            <select class="form-select form-select-sm">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col-4">
            {{#with filterBlock}}
            <div class="card">
                <div class="card-body">

                    {{#with sellers}}
                    <div class="form-label">{{title}}</div>
                    {{#each list}}
                    <div class="form-check">
                        <label class="form-check-label">{{value}}</label>
                        <input name="type" type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                    {{/with}}
                    <hr>
                    {{#with brands}}
                    <p>{{title}}</p>
                    {{#with input}}
                    <input placeholder="{{placeholder}}" class="form-control">
                    {{/with}}
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label">{{value}}</label>
                        <input name="type" type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                    {{/with}}
                    <hr>
                    {{#with price}}
                    <p>{{title}}</p>
                    {{#with range}}
                    <input placeholder="{{from}}" class="form-control">
                    <input placeholder="{{to}}" class="form-control">
                    {{/with}}
                    {{#with button}}
                    <button class="btn btn-outline-secondary"><a href="{{link}}" class="nav-link">{{text}}</a></button>
                    {{/with}}
                    {{/with}}
                    <hr>
                    {{#each filterList}}
                    <div class="form-label">{{title}}</div>
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label">{{value}}</label>
                        <input name="type" type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                    <hr>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>
        {{> catalogItem}}

    </div>
    <br>
    <section>
        {{> shopaction}}
    </section>
</main>