<main class='p-1'>
    <div class="mb-3">
        {{#with header}}
        <h2>{{title}}</h2>
        <div class="col-3 pm-3">
            <div class="nav-item mb-2">
                <div class="card">
                    {{#with button}}
                    <a href="{{link}}" class="nav-link">{{text}}</a>
                    {{/with}}
                </div>
            </div>
        </div>
        {{/with}}
    </div>
    <hr>


    {{#each goodsBlock}}
    <div class="card mb-2 p-1">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img class="card-img-top" src="{{image}}">
                </div>
                <div class="col-2">
                    <h6>{{name}}</h6>
                    <p>{{description}}</p>
                </div>
                {{#with price}}
                <div class="col-2">
                    <p>{{title}}:{{value}}</p>
                </div>
                {{/with}}
                <div class="col-2">
                    {{amount}}
                </div>
                {{#each buttons}}
                <div class="col-2 pb-1">
                    {{#if isPrimary}} <button class="btn text-bg-primary">{{text}}</button> {{/if}}
                    {{#if isDanger}} <button class="btn btn-outline-danger">{{text}}</button> {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}


    <hr>

    {{#with total}}
    <div class="col-5 pb-3">
        <h3>{{title}}</h3>
        <h1>{{amount}}</h1>
        <p>{{delivery}}</p>
        {{#each buttons}}
        <div class="col-5 pb-3">
            {{#if isSuccess}} <button class="btn text-bg-success">{{text}}</button> {{/if}}
            {{#if isOutline}} <button class="btn btn-outline-success">{{text}}</button> {{/if}}
        </div>
        {{/each}}
    </div>
    {{/with}}

    <hr>
    <section>
        {{> shopcard}}
    </section>

    {{#with subscribe}}
    <div class="alert alert-dark">
        <div class="col-8">
            <h2 class="mb-2">{{header}}</h2>
            <p class="m-0">{{description}}</p>
            <br>
            {{#each buttons}}
            <div class="col-5 pb-3">
                <button class="btn btn-primary" class="text-end"><a href="{{link}}"
                        class="nav-link">{{text}}</a></button>
            </div>
            {{/each}}
        </div>
    </div>
    {{/with}}
</main>