<main class='p-1'>
    <div class="mb-3">
        {{#with header}}
        <h2>{{title}}</h2>
        <div class="col-4 pm-3">
            {{#with button}}
            <button class="btn btn-outline-secondary"><a href="{{link}}" class="nav-link">{{text}}</a></button>
            {{/with}}
        </div>
        {{/with}}
    </div>
    <hr>


    <section>
        {{> cartGoodsItem}}
    </section>


    <hr>

    {{#with total}}
    <div class="col-5 pb-3">
        <h3>{{title}}</h3>
        <h1>{{amount}}</h1>
        <p>{{delivery}}</p>
        {{#each buttons}}
        <div class="col-5 pb-3">
            {{#if isSuccess}} <button class="btn text-bg-success">{{text}}</button> {{/if}}
            {{#if isOutline}} <button class="btn btn-outline-success">{{text}}</button> {{/if}}
        </div>
        {{/each}}
    </div>
    {{/with}}

    <hr>
    <section>
        {{> shopcard}}
    </section>

    {{#with subscribe}}
    <div class="alert alert-dark">
        <div class="col-8">
            <h2 class="mb-2">{{header}}</h2>
            <p class="m-0">{{description}}</p>
            <br>
            {{#each buttons}}
            <div class="col-5 pb-3">
                <button class="btn btn-primary" class="text-end"><a href="{{link}}"
                        class="nav-link">{{text}}</a></button>
            </div>
            {{/each}}
        </div>
    </div>
    {{/with}}
</main>