{{#each itemList}}
<div class="card mb-2 p-2">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <p>{{number}}</p>
                <h6>{{status}}</h6>
            </div>
            {{#with amount}}
            <div class="col-2">
                <p>{{title}}:</p>
                <p>{{value}}</p>
            </div>
            {{/with}}
            {{#each images}}
            <div class="col-2">
                <img class="card-img-top" src="{{this}}">
            </div>
            {{/each}}
            {{#with button}}
            <div class="col-1">
                {{#if isPrimary}} <button class="btn btn-primary"><a href="{{link}}"
                        class="nav-link">{{text}}</a></button>{{/if}}
            </div>
            {{/with}}
        </div>
    </div>
</div>
{{/each}}